.container {
  width: 100%;
  flex: 1;
  height: 100%;
  align-items: center;
}
.main {
  flex: 1;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.section {
  width: 100%;
  max-width: 600px;
  max-height: calc(100vh - 260px);
  border-radius: 40px;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #00000097;
  padding: 0 20px;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.titleContainer {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 8px;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.containerTop {
  align-items: center;
  flex-direction: row;
  padding: 4px;
}
.scrollContainer {
  overflow-y: scroll;
  gap: 4px;
}

@media screen and (max-width: 800px) {
  .section {
    min-width: 90vw;
  }
}
