.card {
  flex-direction: row;
  border-radius: 18px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}
.disheImg {
  height: 80px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.textName {
  flex: 1px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #0f0f0f;
}
.star {
  padding-right: 16px;
  filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.3))
    drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.3))
    drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.3));
}
