.container {
  width: 100vw;
  height: calc(100vh - 160px);
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow-y: scroll;
  flex: auto;
}

.background_dark {
  background-image: url("../../assets/backgroundpattern-dark.png");
}
.background_light {
  background-image: url("../../assets/backgroundpattern-light.png");
}
