.container {
  width: 100%;
  flex: 1;
  height: 100%;
  align-items: center;
}
.section {
  max-width: 800px;
}
.main {
  width: 100%;
  flex: 1;
  padding: 40px 0;
  margin-top: 20px;
  align-items: center;
}
.text {
  font-weight: bold;
  font-size: 28px;
  padding: 12px;
  text-align: center;
  color: #31c51e;
}
.pratoDoDia {
  border-radius: 40px;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #00000097;
  width: 90%;
  max-width: 600px;
  align-items: center;
}
.disheImg {
  border-top-right-radius: 38px;
  border-top-left-radius: 38px;
  width: 100%;
  height: 400px;
}
.dishe_title {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}
.dishe_description {
  font-size: 20px;
  padding: 0 28px 30px 28px;
}
.rating_section {
  flex-direction: row;
  width: 84%;
  padding-bottom: 20px;
  align-items: center;
}
.fav_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.innerBalloon {
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
