.main {
  align-items: center;
  width: 100%;
  height: 90%;
  justify-content: center;
  box-sizing: border-box;
}
.section {
  max-height: calc(100% - 32px);
  min-width: 600px;
  margin: 40px;
  box-sizing: border-box;
  border-radius: 40px;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #00000097;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width: 800px) {
  .section {
    min-width: 90vw;
  }
}
