.header {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 20px;
  border-bottom-width: 2px;
  border-color: #666;
  z-index: 2;
}
.logo {
  border-radius: 50%;
  background-color: #616161;
  border-color: #666;
  position: relative;
  border-bottom-width: 2px;
  top: 30px;
  padding: 10px 2px;
  padding-top: 14px;
  height: 140px;
  align-items: center;
  width: 160px;
  z-index: 3;
}
.icon {
  height: 38px;
}
