.input {
  padding: 16px 8px;
  border-width: 2px;
  border-color: #1a9e00ff;
  border-radius: 15px;
  font-size: 24px;
  color: #007219ff;
}
.input::placeholder {
  color: #00a50080;
}
.title {
  font-size: 24px;
  padding: 4px 8px;
  color: #00a516ff;
  font-weight: 600;
}
