.main {
  align-items: center;
  width: 80%;
  max-width: 420px;
  gap: 32px;
}
.main img {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23));
}
.returnBtn {
  padding: 12px 32px;
  background-color: #52cc62;
  border-radius: 24px;
  color: #eee;
  font-weight: bold;
  box-shadow: rgba(241, 241, 241, 0.35) 1px 2px 0px;
  border: #52cc62 1px solid;
  transition: all 0.5s ease;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23));
}
.returnBtn:hover {
  color: #52cc62;
  background-color: #eee;
  padding: 12px 36px;
}
